
.navbar {
background-color: rgb(3, 3, 68);
}
.nav-link{
  color: white !important; 
}
.img-fluid{
  height: 200px !important;
  width: 250px;
}
.star{
  color: black;
}
.card{
  color: black !important;
}
h4{
  color: black;
}